# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Gradle Package

on:
  push:
    branches: [ "release" ]
  workflow_dispatch:
    inputs:
      revision:
        description: 'The revision to build'
        required: true
        default: '0.0.1-SNAPSHOT'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        java: [ '17' ]

    steps:
    - name: Checkout Source
      uses: actions/checkout@v4

    - name: Setup JDK ${{ matrix.Java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'

    - name: Setup Docker
      uses: docker-practice/actions-setup-docker@master
      timeout-minutes: 15

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@dbbdc275be76ac10734476cc723d82dfe7ec6eda # v3.4.2

    - name: Build and Publish with Gradle to GitHub Packages
      run: ./gradlew build publish -Drevision=${{ inputs.revision }}
      env:
        OSSRH_MAVEN_USERNAME: ${{ secrets.OSS_SONATYPE_USERNAME }}
        OSSRH_MAVEN_PASSWORD: ${{ secrets.OSS_SONATYPE_PASSWORD }}
        ORG_GRADLE_PROJECT_SIGNING_KEY_ID: ${{ secrets.OSS_SIGNING_KEY_ID }}
        ORG_GRADLE_PROJECT_SIGNING_KEY: ${{ secrets.OSS_SIGNING_KEY }}
        ORG_GRADLE_PROJECT_SIGNING_PASSWORD: ${{ secrets.OSS_SIGNING_PASSWORD }}
